@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to right, #578A3F, #617339);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3c47239a;
    width: 600px;
    padding: 20px;
    margin: auto;
}

h1 {
    color: #39803A;
    text-align: center;
    text-shadow: 1px 1px 2px #27582891;
}

h2{
    color: #8B893E;
}

p {
    text-align: justify;
}